.mt-60 {
    margin-top: 40px !important;
}
.ooms-home-slider {
    margin-bottom: 50px;
    img {
        width: 100%;
        border-radius: 20px;
        transition: all 0.4s;
        transform: scale(0.98);
        &:hover {
            opacity: 0.85;
            transform: scale(1);
            transition: all 0.4s;
        }
    }
}
.ooms-title-head {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px;
    position: relative;
    word-break: break-word;
}
.ooms-view-more {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
    transition: all 0.3s;
    font-size: 15px;
    &:hover {
        color: #422afb;
        transition: all 0.3s;
    }
}
.ooms-home-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ooms-container-left {
        width: 51%;
    }
    .ooms-container-right {
        width: 47%;
    }
}
.ooms-home-singer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ooms-boxSinger {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 110px;
        padding: 5px 5px 15px;
        background-color: var(--background);
        &:hover {
            img {
                transform: scale(1.02);
                opacity: 0.8;
                transition: all 0.3s;
            }
            .box-title {
                color: var(--primary);
            }
        }
        .box-image {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 10px;
            img {
                width: 100px;
                height: 100px;
                transition: all 0.3s;
            }
        }
        .box-title {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
            margin-top: 8px;
            word-break: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
