.ooms-content {
    min-width: 1440px;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    &-wrapper {
        width: calc(100% - 260px - 390px);
        min-width: 788px;
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
        height: 100%;
        position: relative;
        padding: 108px 24px 30px;
        margin-left: 260px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.vip-song {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 20px;
    background: rgb(27 26 65 / 30%);
    img {
        width: 24px;
        position: absolute;
        left: 18px;
        top: -11px;
    }
    span {
        position: absolute;
        left: 38px;
        top: -2px;
        font-size: 10px;
        font-weight: bold;
        background: #fffad4;
        padding: 2px 5px;
        z-index: -1;
        border-radius: 10px;
        color: #ffa73b;
    }
}
.isWorldWide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 20px;
    background: rgb(27 26 65 / 30%);
    img {
        width: 24px;
        position: absolute;
        left: 18px;
        top: -11px;
    }
    span {
        position: absolute;
        left: 38px;
        top: -2px;
        font-size: 10px;
        font-weight: bold;
        background: #ffdedb;
        padding: 2px 5px;
        z-index: -1;
        border-radius: 10px;
        color: #eb1102;
    }
}
.color-text {
    color: #422afb;
    font-weight: bold;
    font-size: 30px;
}
