.ooms-content {
    width: calc(100% - 294px);
    max-width: calc(100% - 294px);
    float: right;
    min-height: 100vh;
    height: 100%;
    position: relative;
    padding: 110px 30px 30px;
    padding-bottom: 140px;
}
