.ooms {
    &-nav {
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        &-wrapper {
            background: var(--background);
            transition: all 0.2s linear 0s;
            width: 260px;
            height: 100vh;
            min-height: 100vh;
            margin: 0px;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 98px;
            margin-bottom: 54px;
        }
        &-content {
            ul {
                padding-bottom: 30px;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        padding: 13px 42px;
                        .ooms-icon {
                            width: 20px;
                            height: 20px;
                            margin-left: 0;
                            transition: all 0.3s;
                        }
                        .title {
                            padding-left: 18px;
                            transition: all 0.3s;
                        }
                        &.active {
                            background: var(--backgroundHover);
                            border-right: 6px solid var(--primary);
                            transition: all 0.3s;
                            .title,
                            .ooms-icon {
                                color: var(--primary);
                            }
                            .title {
                                font-weight: 600;
                            }
                        }
                        &:hover {
                            .title,
                            .ooms-icon {
                                color: var(--primary);
                            }
                            &.active {
                                background: var(--backgroundHover);
                                border-right: 6px solid var(--primary);
                                transition: all 0.3s;
                                .title,
                                .ooms-icon {
                                    color: var(--primary);
                                }
                                .title {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-logo-text {
        font-size: 20px;
        font-weight: bold;
        padding-left: 8px;
        transition: 0.3s all;
        color: var(--primary);
        &:hover {
            opacity: 0.85;
            transition: 0.3s all;
        }
    }
    &-logo-icon {
        width: 24px !important;
        height: 24px !important;
        color: var(--primary) !important;
        transition: 0.3s all;
    }
}
