@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');
body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(244 244 244);
}
* {
    font-family: 'Baloo 2', cursive;
}
a {
    color: #1c1e24;
}

.ooms-icon {
    width: 22px;
    height: 22px;
    color: #422afb;
    display: inline-block;
    vertical-align: middle;
}
body::-webkit-scrollbar {
    display: none;
}
